.current{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 1.2em;
    color:#f3550c;
}

.row-conent{
    margin-top: 30px; 
}
.pageslide-text{
    margin-top: 20px;
    font-size: 1.2em;
}
.background{
    background-color: #d3e0d7;
    
}
.conent-img{
    width: 340px;
    height: 200px;
   
}
.title-img{
    width: 95%;
    height: 100px;
}
.title-size{
    width: 75%;
    height: 100px;
    text-align: center;
    margin-left: 12%;
    
}